#menu {
    /* background-color: #FFFFFFAA; */
    background-image: url('img/fundo_menu.png');
    /* opacity: 50%; */
    position: fixed;
    top: 50px;
    right: 50px;
    padding: 25px;
    width: 300px;
    height: 500px;
    /* transform: translate(-50%, 0%); */
    text-align: center;
    font-family: fantasy;
    font-size: 24pt;
    /* font-weight: ; */
}

#home-link{
    position: fixed;
    top: 30px;
    right: 30px;
    text-align: right;
}

.option a{
    text-decoration: none;
    color: #000;
    margin: 0;
}

.option{
    height: 33%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.content {
    background-image: url('img/fundo_menu.png');
    /* opacity: 50%; */
    position: fixed;
    bottom: 200px;
    right: 50px;
    padding: 25px;
    width: 300px;
    height: 500px;
    transform: translate(0, 0);
    text-align: center;
    /* font-family: fantasy; */
    font-size: 16pt;
    overflow-y: auto;
}

.bigbox {
    background-image: url('img/fundo_cordel_small.png');
    /* opacity: 50%; */
    position: fixed;
    bottom: 150px;
    left: 150px;
    padding: 25px;
    width: 600px;
    height: 450px;
    transform: translate(0, 0);
    text-align: center;
    /* font-family: fantasy; */
    font-size: 16pt;
    overflow-y: auto;
}

#escrever {
    background-image: url('img/fundo_cordel_small.png');
    /* opacity: 50%; */
    position: absolute;
    bottom: 75px;
    left: 50%;
    padding: 25px;
    width: 800px;
    height: 500px;
    transform: translate(-50%, 0);
    text-align: center;
    /* font-family: fantasy; */
    font-size: 16pt;
    overflow-y: auto;
}

#catalogue {
    width: 200px;
}

#audio {
    display: flex;
    background-color: #000;
    color: #FFF;
    text-align: right;
    position: absolute;
    bottom: 75px;
    right: 50%;
    width: 550px;
    height: 50px;
    transform: translate(50%, 0);
}

#busca {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background-color: #000;
    color: #FFF;
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 50%;
    width: 550px;
    height: 50px;
    transform: translate(50%, 0);
}

#page {
    width: 50px;
}
.cordel {
    padding-top: 25px;
}

.consultas {
    padding: 15px;
    width: 270px;
    font-weight: bold;
}

textarea {
    resize: none;
    overflow: auto;

}
